*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style */

body{
  overflow-x: hidden;
}
.noto-serif{
   font-family: "Noto Serif", serif;
}
.inter{
   font-family: "Inter", sans-serif;
}
.display-flex{
  display: flex;
}

/* header related style*/

header{
  max-width: 80%;
  margin: 30px auto 0;
}
.navbar{
  justify-content: space-between;
  align-items: center;
}
.logo{
  width: 135px;
}
.menu{
  list-style-type: none;
  gap: 48px;
}
.item-anchor, .cart-anchor{
font-size: 1rem;
font-weight: 400;
color: #8987A1;
line-height: 24px;
}
.home{
  color: #252432;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
}
.item-anchor, .cart-anchor{
text-decoration: none;
}
.cart-anchor i{
  margin-right: 10px;
}

.banner{
  width: 100%;
  height: 461px;
  margin-top: 130px;
  /* border: 2px solid red; */
  align-items: flex-end;
}
.banner-content, .banner-image-container{
  width: 50%;
  /* border: 2px solid skyblue; */
}
.banner-content-title{
  font-size: 4.06rem;
  color: #000000;
  font-weight: 700;
  margin-bottom: 13px;
}
.fresh-flower{
 font-size: 4.06rem;
  color: #E95A08;
  font-weight: 700;
}
.banner-content-description{
  font-size: 1.375rem;
  font-weight: 400;
  color: #00000050;
}
.banner-image-container{
  height: 335px;
}
.banner-image{
  width: 100%;
  height: 100%;
  /* border: 2px solid teal; */
  object-fit: cover;
}

/*our plants related style*/
.our-plants{
  max-width: 80%;
  margin: 120px auto 0;
  text-align: center;
} 
.our-plants-title{
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.our{
  font-size: 3.125rem;
}
.our-plants-description{
  width: 65.89%;
  margin: 0 auto;
  font-size: 1.375rem;
  color:#00000050;
  font-weight: 400;
  margin-bottom: 49px;
}
.plants-span{
  margin-left: 8px;
  color:#000000;
}
.plant-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
}
.plant-image{
  width: 100%;
}
.plant-name{
  font-size: 1.375rem;
  font-weight: 500;
  color: #111111;
  line-height: 150%;
  margin-top: 20px;
  margin-bottom: 5px;
}
.plant-price{
 font-size: 1.375rem;
  font-weight: 700;
  color: #111111;
  line-height: 150%;
  margin-bottom: 10px;
}
.add-to-cart{
  background-color: #E95A08;
  padding: 15px 50px;
  width: 100%;
  height: 50px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: #FFFFFF;
}


/* Trusted area related style*/

.trusted-section{
  max-width: 80%;
  margin: 200px auto 0;
}
.trusted-area-image{
  position: relative;
}
.badge-wrapper{
  width: 286px;
  height: 286px;
  position: absolute;
  left: 347px;
  top: -130px;
}
.trusted-badge{
  width: 100%;
  height: 100%;
}
.trusted-area{
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.trusted-area-list{
  /* list-style-type: disc; */
}
.trusted-area-image, .trusted-area-details{
  width: calc((100% - 60px)/2);
}
.trusted-area-image{
object-fit: cover;
}
.trusted-image{
  width: 100%;
  max-height: 597px;
}

.trusted-area-details{
  padding: 38px 0;
}
.trusted-area-title{
  font-size: 3.125rem;
  color: #000000;
  font-weight: 700;
  line-height: auto;
  margin-bottom: 20px;
}
.list-item{
  font-size: 1.375rem;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 1px;
  color: #00000050;
  margin-bottom: 20px;
}

/* join section related style*/
.latest-section{
  margin-top: 100px;
}
.latest-title{
  font-size: 3.125rem;
  font-weight: 700;
  line-height: auto;
  text-align: center;
  margin-bottom: 16px;
}
.latest-deal{
  font-size: 3.125rem;
}
.latest-description{
  width: 61%;
  margin: 0 auto;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: auto;
  color: #00000050;
  text-align: center;
}

.card-container{
  max-width: 80%;
  margin: 0 auto;
}
.side-card{
  grid-area: side-card;
 position: relative;
}
.side-card-2{
  grid-area: side-card-2;
position: relative;
}
.main-card{
  grid-area: main-card;
 position: relative;
}
.card-container{
  width: 100%;
  margin-top: 100px;
  display: grid;
  gap: 20px;
  grid-template-areas: 
  "side-card   main-card  main-card"
  "side-card-2  main-card  main-card"
  ;
}
.side-card-image, .side-card-2-image, .main-card-image{
  filter: brightness(60%);
  width: 100%;
}
.side-card-image, .side-card-2-image{
  border-radius: 14px;
}
.main-card-image{
  border-radius: 22px;
}
.first{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.second{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.third{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.side-card-title, .side-card-2-title{
  font-size: 1.25rem;
  font-weight: 700;
  line-height: auto;
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
}
.main-card-title{
  font-size: 2.5rem;
  font-weight: 700;
  line-height: auto;
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
}
.side-card-anchor, .side-card-2-anchor{
font-size: 1rem;
line-height: auto;
}
.main-card-anchor{
  font-size: 1.75rem;
  line-height: auto;
}
.side-card-anchor, .side-card-2-anchor, .main-card-anchor{
  text-decoration: underline;
  color: #FFFFFF;
  font-weight: 600;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/*join section related style*/
.join-image{
  filter: brightness(80%);
  width: 100%;
}
.join-section{
  max-width: 100%;
  position: relative;
  margin-top: 120px;
}
.join-content{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
   transform: translate(-50%, -50%);
  text-align: center;
}
.join-content-title{
  font-size: 3.125rem;
  color:#FFFFFF;
  font-weight: 700;
  line-height: auto;
  margin-bottom: 23px;
}
.form{
  width: 100%;
  gap: 0;
  justify-content: center;
  align-items: center;
}
.email{
  width: calc((100%)*.407);
  height: 50px;
  padding-left: 10px;
  font-size: 1rem;
  font-weight: 400;
  line-height: auto;
  color:#00000050;
  border: 1px solid black;
}
.submit{
  width: calc((100%)*.109);
  height: 50px;
  font-size: 1rem;
  font-weight: 600;
  line-height: auto;
  color: white;
  background-color: #E95A08;
   border: 1px solid black;
}
.hide{
  display: none;
}
/*responsive design */
@media screen and (max-width: 576px) {
  header{
    max-width: 100%;
  }
  .navbar{
    padding: 0 16px;
  }
  .logo{
    width: 83px;
  }
  .menu-item{
    display: none;
  }
  .banner-content, .banner-image-container{
    width: 100%;
  }
  .banner{
    margin-top: 28px;
    flex-direction: column-reverse;
    gap:28px;
    height: auto;
  }
  .banner-content{
    padding: 0 16px;
  }
  .banner-content-title{
  font-size: 1.5rem;
}
.fresh-flower{
 font-size: 1.5rem;
}
.banner-content-description{
  font-size: 0.875rem;
}
 
.our-plants{
  max-width: 100%;
  margin-top: 65px;
}
.our-plants-title{
  font-size: 1.5rem;
  margin-bottom: 16px;
}
.our-plants-description{
  width: 75%;
  font-size: 0.875rem;
}
.plant-container{
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 0 15px;
}
.plant-name, .plant-price{
  font-size: 1rem;
}
.add-to-cart{
  font-size: 1rem;
width: 100%;
padding: 5px 10px;
}


.badge-wrapper{
display: none;
}
.trusted-section{
  max-width: 100%;
  margin: 40px 0;
  padding: 0 16px;
}
.trusted-area{
  flex-direction: column;
  gap: 18px;
  width: 100%;
}
.trusted-area-image, .trusted-area-details{
  width: 100%;
}
.trusted-area-details{
padding: 0 0 0 10px;
}
.trusted-image{
  width: 100%;
}
.trusted-area-title{
  font-size: 1.5rem;
  margin-top: 18px;
}
.list-item{
  font-size: 0.875rem;
}

.latest-description{
  margin-left: 28px;
  margin-right: 28px;
  text-align: center;
  width: 90%;
}
.card-container{
  margin-top: 50px;
  grid-template-areas: 
  "side-card"
  "side-card-2"
  "main-card"
  ;
}
.main-card-title{
  font-size: 1.25rem;
}
.side-card-anchor, .side-card-2-anchor, .main-card-anchor{
font-size: 1rem;
}
.latest-title{
  font-size: 1.5rem;
}
.latest-description{
  font-size: 0.875rem;
}

.join-section{
  margin-top: 44px;
}
.join-content-title{
  font-size: 1.25rem;
}
.join-image{
  height: 276px;
}

.email{
  width: calc((100%)*.557);
}
.submit{
  width: calc((100%)*.259);
}
}